In [1]:
import pandas as pd

In [2]:
df_excel = pd.read_excel(r"C:\Users\joaod\OneDrive\Documentos\Projetos\Minicurso_pandas\data\Customer_Call_List.xlsx")
df_excel.head(1)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True

In [4]:
# Tranformando o excel para csv 
df_csv = "df_csv" 
df_excel.to_csv(df_csv, index=False)

In [5]:
# Transformando para json

df_json = "df_json"
df_excel.to_json(df_json, orient='records')

In [ ]:
# leitura de arquivos 

df_csv = pd.read_csv()