<img src='https://github.com/davibarbosabdj/Minicurso_pandas/blob/main/imagens/logo_pandas.png?raw=true' width='115px' style='float: right'>

# <center><strong>Introdução a Biblioteca Pandas</strong></center>
### <center><strong>Projeto Engedados - UFC Campus Jardins de Anita Itapajé</strong></center>
---

#### **O que é o Pandas?**

O pandas é uma biblioteca de código aberto para a linguagem de programação Python que é usada principalmente para análise e manipulação de dados. Ela fornece estruturas de dados e ferramentas de análise de alta performance e fáceis de usar, permitindo que os usuários manipulem dados tabulares com facilidade. O pandas é amplamente utilizado em ciência de dados, finanças, análise de negócios e outras áreas onde a análise de dados é fundamental.
<br>
#### **Por que o Pandas é importante para Análise de Dados?**

O pandas é importante para análise de dados porque oferece uma ampla gama de ferramentas e funcionalidades para manipulação e análise de dados de forma eficiente e eficaz. Com o pandas, os usuários podem importar e exportar dados de várias fontes, limpar e preparar dados para análise, manipular e transformar dados para uso em modelos de análise e visualizações de dados, e realizar análises estatísticas.

Além disso, o pandas oferece suporte para lidar com dados faltantes, integrar dados de várias fontes e visualizar os resultados da análise em gráficos e tabelas interativas. Como resultado, os usuários podem analisar grandes conjuntos de dados com mais rapidez e facilidade, permitindo que tomem decisões informadas com base em insights valiosos extraídos dos dados.

Em resumo, o pandas é importante para análise de dados porque permite que os usuários trabalhem com dados de forma mais eficiente e eficaz, economizando tempo e aumentando a precisão dos resultados.

#### **Instalando e Importando o Pandas**

Para instalar o pandas, você pode usar o pip, o gerenciador de pacotes padrão do Python. Basta abrir o terminal ou prompt de comandos e digitar o seguinte comando: 

~~~python
pip install pandas
~~~

Após a instalação, você pode importar o pandas em seus scripts Python utilizando seguinte comando:

In [3]:
import pandas as pd

#### Criação de DataFrames

DataFrame (DF) é uma das estruturas de dados centrais do pandas, que é uma biblioteca Python amplamente usada para análise de dados. Um DataFrame é uma tabela bidimensional, semelhante a uma planilha, onde os dados são organizados em linhas e colunas.

- A partir de um Dicionário:

Você pode criar um DataFrame a partir de um dicionário onde as chaves representam os nomes das colunas e os valores são listas que preenchem as colunas.

In [3]:
# Criando um df com pd.DataFrame

df = pd.DataFrame({
    'Alunos':['Marilia', 'Bianca', 'Vanessa'],
    'Idade':[19, 22, 20]
})

df

    Alunos  Idade
0  Marilia     19
1   Bianca     22
2  Vanessa     20

### **1. Manipulação de Dados Básica**

**Dataset: Customer Call List**

A base de dados Customer Call List é uma valiosa fonte de informações sobre os clientes da empresa. Contendo colunas essenciais, como o ID do cliente, telefone, nome, endereço e outros campos relevantes, essa base de dados permite à empresa manter contato com seus clientes e fornecer um atendimento personalizado.

#### 1.1 Lendo a nossa base de dados

Existem várias maneiras de importar um dataset no Python usando o Pandas, que é uma biblioteca popular para análise de dados.

In [4]:
#Leitura dos dados no formato csv
df_csv = pd.read_csv(r'C:\Users\joaod\OneDrive\Documentos\Projetos\Minicurso_pandas\data\Customer_Call_List_csv')
df_csv

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [10]:
#Leitura dos dados no formato excel
df_excel = pd.read_excel(r'C:\Users\joaod\OneDrive\Documentos\Projetos\Minicurso_pandas\data\Customer_Call_List_excel.xlsx')

In [12]:
#Leitura dos dados no formato json
df_json = pd.read_json(r'C:\Users\joaod\OneDrive\Documentos\Projetos\Minicurso_pandas\data\Customer_Call_List_json')

#### 1.2 Visualizando a nossa base de dados

In [14]:
#Visualizando as primeiras linhas do nosso dataframe - .head()
df_csv.head(3)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True

In [15]:
#Visualizando as ultimas linhas do nosso dataframe - .tail()
df_csv.tail()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [16]:
#Visualizando as informações gerais do nosso data frame - .info()
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [17]:
#Retornando o nome das colunas do dataframe .columns
df_csv.columns

Index(['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Address',
       'Paying Customer', 'Do_Not_Contact', 'Not_Useful_Column'],
      dtype='object')

#### 1.3 Manipulação das Colunas do Dataframe 

Podemos realizar diversas manipulações nas colunas de um dataframe utilizando as funcionalidades do Pandas.

In [5]:
#Renomear colunas - .rename()
df_csv = df_csv.rename(columns={
    'CustomerID':'ID_cliente', 
    'First_Name':'Primeiro_nome', 
    'Last_Name':'Sobrenome', 
    'Phone_Number':'Telefone', 
    'Address':'Endereco',
    'Paying Customer':'Cliente_pagante', 
    'Do_Not_Contact':'Contato_cliente'
})

In [19]:
df_csv.columns

Index(['ID_cliente', 'Primeiro_nome', 'Sobrenome', 'Telefone', 'Endereco',
       'Cliente_pagante', 'Contato_cliente', 'Not_Useful_Column'],
      dtype='object')

In [6]:
#Mudando a ordem das colunas - 
df_csv = df_csv[['ID_cliente', 'Primeiro_nome', 'Sobrenome', 'Telefone', 'Endereco'
       ,'Contato_cliente', 'Cliente_pagante',  'Not_Useful_Column']]

In [22]:
df_csv.columns

Index(['ID_cliente', 'Primeiro_nome', 'Sobrenome', 'Telefone', 'Endereco',
       'Contato_cliente', 'Cliente_pagante', 'Not_Useful_Column'],
      dtype='object')

Para criar uma nova coluna em um data frame, basta atribuirmos uma lista/series de valores a uma constante a uma nova chave do df.

*Obs: A quantidade de valores da lista deve ser igual ao número de linhas/registros do df.*

In [23]:
#Criar novas colunas 
df_csv['classificacao'] = range(21)

In [24]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_cliente         21 non-null     int64
 1   Primeiro_nome      21 non-null     object
 2   Sobrenome          20 non-null     object
 3   Telefone           19 non-null     object
 4   Endereco           21 non-null     object
 5   Contato_cliente    17 non-null     object
 6   Cliente_pagante    21 non-null     object
 7   Not_Useful_Column  21 non-null     bool
 8   classificacao      21 non-null     int64
dtypes: bool(1), int64(2), object(6)
memory usage: 1.5+ KB

In [25]:
df_csv.head(3)

,ID_cliente,Primeiro_nome,Sobrenome,Telefone,Endereco,Contato_cliente,Cliente_pagante,Not_Useful_Column,classificacao
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",No,Yes,True,0
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,Yes,No,False,1
2,1003,Walter,/White,7066950392,298 Drugs Driveway,NaN,N,True,2

In [26]:
#Deletar colunas - .drop() e del df[column]
del df_csv['Not_Useful_Column']
del df_csv['classificacao']

In [27]:
df_csv.columns

Index(['ID_cliente', 'Primeiro_nome', 'Sobrenome', 'Telefone', 'Endereco',
       'Contato_cliente', 'Cliente_pagante'],
      dtype='object')

#### 1.4 Series

Uma Series é uma estrutura de dados unidimensional que contém um array de dados e um array correspondente de rótulos, chamado de índice. É uma estrutura de dados flexível e útil para várias operações de manipulação de dados e análise de dados, especialmente quando se trabalha com dados em colunas de um DataFrame.

**Importância das Séries:**

As séries são importantes porque permitem que você trabalhe facilmente com dados em uma forma mais simples e organizada. Elas fornecem várias funcionalidades úteis, como cálculos estatísticos, manipulação de dados e criação de gráficos.

Além disso, as séries são frequentemente usadas como componentes de DataFrames, que são a estrutura de dados mais amplamente usada no pandas. DataFrames são tabelas que consistem em séries, onde cada série é uma coluna. Ao entender como trabalhar com séries, você estará bem preparado para manipular e analisar dados em geral usando o pandas.

In [28]:
#Selecionando uma coluna inteira 
df_csv['ID_cliente']

0     1001
1     1002
2     1003
3     1004
4     1005
5     1006
6     1007
7     1008
8     1009
9     1010
10    1011
11    1012
12    1013
13    1014
14    1015
15    1016
16    1017
17    1018
18    1019
19    1020
20    1020
Name: ID_cliente, dtype: int64

### **2. Manipulação de Dados**

A manipulação de dados em um DataFrame no pandas envolve várias etapas, desde selecionar dados específicos até realizar operações, limpeza e verificação. 

O pandas oferece uma variedade de métodos e ferramentas para tornar esse processo eficiente e eficaz, permitindo que você trabalhe com conjuntos de dados de forma flexível e poderosa.

- **Seleção de Dados:** Você pode selecionar linhas e colunas específicas do DataFrame usando índices ou rótulos.

- **Operações com Colunas e Linhas:** Você pode realizar operações aritméticas e de transformação em colunas e linhas.

- **Tratamento de Valores Faltantes:** Lidar com valores nulos (NaN) em seus dados usando métodos como ``dropna()`` e ``fillna()``.

- **Verificação de Dados Faltantes e Inconsistentes:** Identificar e lidar com dados faltantes ou inconsistentes em seu DataFrame.

- **Filtragem de Dados:** Filtrar linhas do DataFrame com base em condições específicas.

- **Ordenação de Dados:** Ordenar os dados com base em valores de coluna.

- **Transformação de Dados:** Aplicar funções, mapeamentos e transformações aos dados.

#### 2.1 Selecionando os dados 
Existem várias maneiras de selecionar dados usando o pandas. Indexação, Condição, Colunas...

#### Seleção por indexação - .loc[]

O ```.loc[]``` é um método usado para acessar um grupo de linhas e colunas por meio de rótulos ou uma condição booleana. Ele funciona da seguinte forma:

- **Usando rótulos:** Você especifica os rótulos das linhas e colunas que deseja selecionar. Por exemplo, ```df.loc[2, 'idade']``` selecionará o valor da coluna 'idade' na linha com rótulo 2.

- **Usando rótulos e fatias:** Você também pode usar fatias para selecionar um intervalo de rótulos, como ```df.loc[1:3, 'idade':'nome']```.

- **Usando uma condição booleana:** Você pode usar uma condição booleana para selecionar linhas com base em uma expressão, como ```df.loc[df['idade'] > 25]```.

In [29]:
#Seleção -.loc[]
df_csv.loc[0:3, 'ID_cliente':'Telefone']

   ID_cliente Primeiro_nome Sobrenome      Telefone
0        1001         Frodo   Baggins  123-545-5421
1        1002          Abed     Nadir  123/643/9775
2        1003        Walter    /White    7066950392
3        1004        Dwight   Schrute  123-543-2345

In [32]:
df_csv.loc[df_csv['ID_cliente'] > 1003]

,ID_cliente,Primeiro_nome,Sobrenome,Telefone,Endereco,Contato_cliente,Cliente_pagante
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Yes
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,No,Y
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No,No
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,N
8,1009,Gandalf,NaN,N/a,123 Middle Earth,NaN,Yes
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",No,Yes
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",No,Yes
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,NaN,Y
12,1013,Don,Draper,123-543-2345,2039 Main Street,N,Yes
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,No,Yes
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,No,N
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,No
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",No,Yes
17,1018,Clark,Kent,7066950392,3498 Super Lane,NaN,Y
18,1019,Creed,Braton,N/a,N/a,Yes,N/a
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",N,Yes
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",N,Yes

#### Seleção por indexação - .iloc[]

O ```iloc``` é um método usado para acessar um grupo de linhas e colunas por meio de índices inteiros. Ele funciona da seguinte forma:

- **Usando índices inteiros:** Você especifica os índices das linhas e colunas que deseja selecionar. Por exemplo, ```df.iloc[0, 2]``` selecionará o valor na primeira linha e terceira coluna.

- **Usando índices inteiros e fatias:** Assim como o loc, você também pode usar fatias para selecionar um intervalo de índices, como ```df.iloc[1:3, 0:2]```.

- **Usando índices inteiros com condição booleana:** Você pode combinar o iloc com uma condição booleana para selecionar linhas com base em uma expressão, como ```df.iloc[df['idade'] > 25]```.

In [31]:
#Seleção-.iloc[]
df_csv.iloc[0:3, 0:3]

   ID_cliente Primeiro_nome Sobrenome
0        1001         Frodo   Baggins
1        1002          Abed     Nadir
2        1003        Walter    /White

#### 2.2 Operações com colunas e linhas 

As operações com colunas em um DataFrame são uma parte essencial da manipulação de dados. Você pode realizar uma variedade de operações para transformar, calcular e manipular os valores de uma coluna.

In [7]:
# Aritmética entre Colunas:
df_csv['ID_cliente'] = df_csv['ID_cliente'] + 1
df_csv['ID_cliente']

0     1002
1     1003
2     1004
3     1005
4     1006
5     1007
6     1008
7     1009
8     1010
9     1011
10    1012
11    1013
12    1014
13    1015
14    1016
15    1017
16    1018
17    1019
18    1020
19    1021
20    1021
Name: ID_cliente, dtype: int64

In [8]:
# Aplicação de Funções:
def value2(x):
    return x * 2

df_csv["ID_cliente"] = df_csv["ID_cliente"].apply(value2)
df_csv["ID_cliente"]

0     2004
1     2006
2     2008
3     2010
4     2012
5     2014
6     2016
7     2018
8     2020
9     2022
10    2024
11    2026
12    2028
13    2030
14    2032
15    2034
16    2036
17    2038
18    2040
19    2042
20    2042
Name: ID_cliente, dtype: int64

#### 2.3 Tratamento de valores faltantes ou inconsistências

O tratamento de valores faltantes e inconsistências é uma etapa crucial na manipulação de dados, pois dados ausentes ou inconsistentes podem afetar a qualidade das análises e modelos que você constrói.

In [9]:
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID_cliente         21 non-null     int64
 1   Primeiro_nome      21 non-null     object
 2   Sobrenome          20 non-null     object
 3   Telefone           19 non-null     object
 4   Endereco           21 non-null     object
 5   Contato_cliente    17 non-null     object
 6   Cliente_pagante    21 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [11]:
# Verificação de valores faltantes  
df_csv.isnull().sum()

ID_cliente           0
Primeiro_nome        0
Sobrenome            1
Telefone             2
Endereco             0
Contato_cliente      4
Cliente_pagante      0
Not_Useful_Column    0
dtype: int64

In [12]:
# Verificação de valores faltantes 
df_csv.isnull().any()

ID_cliente           False
Primeiro_nome        False
Sobrenome             True
Telefone              True
Endereco             False
Contato_cliente       True
Cliente_pagante      False
Not_Useful_Column    False
dtype: bool

In [13]:
df_csv['Contato_cliente'].unique()

array(['No', 'Yes', nan, 'Y', 'N'], dtype=object)

In [14]:
import numpy as np

In [15]:
df_csv

,ID_cliente,Primeiro_nome,Sobrenome,Telefone,Endereco,Contato_cliente,Cliente_pagante,Not_Useful_Column
0,2004,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",No,Yes,True
1,2006,Abed,Nadir,123/643/9775,93 West Main Street,Yes,No,False
2,2008,Walter,/White,7066950392,298 Drugs Driveway,NaN,N,True
3,2010,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Yes,True
4,2012,Jon,Snow,876|678|3469,123 Dragons Road,No,Y,True
5,2014,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,2016,Jeff,Winger,NaN,1209 South Street,No,No,False
7,2018,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,N,False
8,2020,Gandalf,NaN,N/a,123 Middle Earth,NaN,Yes,False
9,2022,Peter,Parker,123-545-5421,"25th Main Street, New York",No,Yes,True
10,2024,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",No,Yes,True
11,2026,Harry,...Potter,7066950392,2394 Hogwarts Avenue,NaN,Y,True
12,2028,Don,Draper,123-543-2345,2039 Main Street,N,Yes,False
13,2030,Leslie,Knope,876|678|3469,343 City Parkway,No,Yes,False
14,2032,Toby,Flenderson_,304-762-2467,214 HR Avenue,No,N,False
15,2034,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,No,False
16,2036,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",No,Yes,False
17,2038,Clark,Kent,7066950392,3498 Super Lane,NaN,Y,True
18,2040,Creed,Braton,N/a,N/a,Yes,N/a,True
19,2042,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",N,Yes,True
20,2042,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",N,Yes,True

In [16]:
df_csv = df_csv.replace(['N/a'], np.nan)

In [23]:
# Preenchelos com outros valores 

def preencher_valores_na(df, column:str, valor):
    df[column].fillna(valor, inplace=True)
    
preencher_valores_na(df_csv, 'Telefone', '000-000-0000')
preencher_valores_na(df_csv, 'Contato_cliente', 'No')

In [20]:
df_csv['Telefone'].isnull().sum()

0

In [24]:
df_csv['Contato_cliente'].isnull().sum()

0

#### 2.4 Filtragem de dados

A filtragem de dados é uma técnica fundamental para selecionar um subconjunto específico de dados em um DataFrame com base em determinados critérios ou condições. Ela ajuda a trabalhar de forma mais eficiente com grandes conjuntos de dados, focando apenas nos dados relevantes para uma análise ou tarefa específica.

In [25]:
# Filtrar os dados de acordo com a coluna sobrenome == "Skywalker"
cliente1 = df_csv[df_csv['Sobrenome']== 'Skywalker' ]
cliente1

,ID_cliente,Primeiro_nome,Sobrenome,Telefone,Endereco,Contato_cliente,Cliente_pagante,Not_Useful_Column
19,2042,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",N,Yes,True
20,2042,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",N,Yes,True

In [26]:
# Filtrar os dados dos clientes que não podem ser contactados
clientes_n_contactados = df_csv[df_csv['Contato_cliente'] == 'No']
clientes_n_contactados

,ID_cliente,Primeiro_nome,Sobrenome,Telefone,Endereco,Contato_cliente,Cliente_pagante,Not_Useful_Column
0,2004,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",No,Yes,True
2,2008,Walter,/White,7066950392,298 Drugs Driveway,No,N,True
4,2012,Jon,Snow,876|678|3469,123 Dragons Road,No,Y,True
6,2016,Jeff,Winger,000-000-0000,1209 South Street,No,No,False
7,2018,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,N,False
8,2020,Gandalf,NaN,000-000-0000,123 Middle Earth,No,Yes,False
9,2022,Peter,Parker,123-545-5421,"25th Main Street, New York",No,Yes,True
10,2024,Samwise,Gamgee,000-000-0000,"612 Shire Lane, Shire",No,Yes,True
11,2026,Harry,...Potter,7066950392,2394 Hogwarts Avenue,No,Y,True
13,2030,Leslie,Knope,876|678|3469,343 City Parkway,No,Yes,False
14,2032,Toby,Flenderson_,304-762-2467,214 HR Avenue,No,N,False
16,2036,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",No,Yes,False
17,2038,Clark,Kent,7066950392,3498 Super Lane,No,Y,True

In [27]:
# Filtrando os clientes que podem ser contactados 
clientes_contactados = df_csv[df_csv['Contato_cliente'] == 'Yes']
clientes_contactados

,ID_cliente,Primeiro_nome,Sobrenome,Telefone,Endereco,Contato_cliente,Cliente_pagante,Not_Useful_Column
1,2006,Abed,Nadir,123/643/9775,93 West Main Street,Yes,No,False
5,2014,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
18,2040,Creed,Braton,000-000-0000,NaN,Yes,NaN,True

In [28]:
# Filtragens condicionais

clientes_pagantes_contactados = df_csv[(df_csv['Cliente_pagante'] == 'Yes') & (df_csv['Contato_cliente'] == 'Yes')]
clientes_pagantes_contactados

,ID_cliente,Primeiro_nome,Sobrenome,Telefone,Endereco,Contato_cliente,Cliente_pagante,Not_Useful_Column
5,2014,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True

#### 2.5 Ordenação de dados 

O método ```sort_values()``` é uma ferramenta valiosa do pandas que permite reorganizar um DataFrame de acordo com os valores em uma ou mais colunas. Isso é particularmente útil para visualizar dados de forma ordenada e para realizar análises mais eficientes.

In [29]:
df_csv

,ID_cliente,Primeiro_nome,Sobrenome,Telefone,Endereco,Contato_cliente,Cliente_pagante,Not_Useful_Column
0,2004,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",No,Yes,True
1,2006,Abed,Nadir,123/643/9775,93 West Main Street,Yes,No,False
2,2008,Walter,/White,7066950392,298 Drugs Driveway,No,N,True
3,2010,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Yes,True
4,2012,Jon,Snow,876|678|3469,123 Dragons Road,No,Y,True
5,2014,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,2016,Jeff,Winger,000-000-0000,1209 South Street,No,No,False
7,2018,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,N,False
8,2020,Gandalf,NaN,000-000-0000,123 Middle Earth,No,Yes,False
9,2022,Peter,Parker,123-545-5421,"25th Main Street, New York",No,Yes,True
10,2024,Samwise,Gamgee,000-000-0000,"612 Shire Lane, Shire",No,Yes,True
11,2026,Harry,...Potter,7066950392,2394 Hogwarts Avenue,No,Y,True
12,2028,Don,Draper,123-543-2345,2039 Main Street,N,Yes,False
13,2030,Leslie,Knope,876|678|3469,343 City Parkway,No,Yes,False
14,2032,Toby,Flenderson_,304-762-2467,214 HR Avenue,No,N,False
15,2034,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,No,False
16,2036,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",No,Yes,False
17,2038,Clark,Kent,7066950392,3498 Super Lane,No,Y,True
18,2040,Creed,Braton,000-000-0000,NaN,Yes,NaN,True
19,2042,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",N,Yes,True
20,2042,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",N,Yes,True

In [30]:
# Ordenando de acordo com a coluna 
df_ordenado = clientes_n_contactados.sort_values(by='Primeiro_nome')
df_ordenado

,ID_cliente,Primeiro_nome,Sobrenome,Telefone,Endereco,Contato_cliente,Cliente_pagante,Not_Useful_Column
17,2038,Clark,Kent,7066950392,3498 Super Lane,No,Y,True
0,2004,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",No,Yes,True
8,2020,Gandalf,NaN,000-000-0000,123 Middle Earth,No,Yes,False
11,2026,Harry,...Potter,7066950392,2394 Hogwarts Avenue,No,Y,True
6,2016,Jeff,Winger,000-000-0000,1209 South Street,No,No,False
4,2012,Jon,Snow,876|678|3469,123 Dragons Road,No,Y,True
13,2030,Leslie,Knope,876|678|3469,343 City Parkway,No,Yes,False
16,2036,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",No,Yes,False
9,2022,Peter,Parker,123-545-5421,"25th Main Street, New York",No,Yes,True
10,2024,Samwise,Gamgee,000-000-0000,"612 Shire Lane, Shire",No,Yes,True
7,2018,Sherlock,Holmes,876|678|3469,98 Clue Drive,No,N,False
14,2032,Toby,Flenderson_,304-762-2467,214 HR Avenue,No,N,False
2,2008,Walter,/White,7066950392,298 Drugs Driveway,No,N,True

In [28]:
# Ordenando a partir da coluna Primeiro Nome

#### 2.6 Conversão de Dados 

A conversão de dados no contexto da análise de dados com o pandas é essencial para garantir que os conjuntos de dados estejam prontos para análise precisa e eficiente. Por meio de métodos como pd.to_datetime(), .astype() e outros, é possível transformar colunas em diferentes tipos de dados, como datas, números inteiros, categorias e strings. Essa flexibilidade permite ajustar os dados às necessidades específicas da análise, melhorando a precisão dos cálculos e a eficácia das operações.

In [31]:
# Criando um DataFrame de exemplo
data = {'coluna_data': ['2022-05-01', '2022-06-01', '2022-07-01'],
        'coluna_numerica': ['10', '20', '30'],
        'coluna_categorica': ['A', 'B', 'C'],
        'coluna_string': [10, 20, 30]}

df = pd.DataFrame(data)

In [32]:
# Convertendo coluna para tipo de dados datetime
df['coluna_data'] = pd.to_datetime(df['coluna_data'])

In [33]:
# Convertendo coluna para tipo de dados numéricos (int)
df['coluna_numerica'] = df['coluna_numerica'].astype(int)

In [34]:
# Convertendo coluna para tipo de dados categóricos
df['coluna_categorica'] = df['coluna_categorica'].astype('category')

In [35]:
# Convertendo coluna para tipo de dados string
df['coluna_string'] = df['coluna_string'].astype(str)

In [36]:
# Exibindo o DataFrame resultante
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   coluna_data        3 non-null      datetime64[ns]
 1   coluna_numerica    3 non-null      int32
 2   coluna_categorica  3 non-null      category
 3   coluna_string      3 non-null      object
dtypes: category(1), datetime64[ns](1), int32(1), object(1)
memory usage: 323.0+ bytes